[Unit]
Description=Store and reset backlight
Before=hibernate.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
StateDirectory=backlight
ExecStart=/usr/bin/bash -c "cat /sys/class/backlight/intel_backlight/brightness > ${STATE_DIRECTORY}/backlight"
ExecStop=/usr/bin/bash -c "if [ -f "${STATE_DIRECTORY}/backlight" ]; then cat ${STATE_DIRECTORY}/backlight > /sys/class/backlight/intel_backlight/brightness; fi"

[Install]
WantedBy=hibernate.target
