[Unit]
Description=xcape modifier keys
PartOf=xsession.target

[Service]
Type=forking
ExecStart=/usr/bin/xcape
Restart=always

[Install]
WantedBy=xsession.target
