[Unit]
Description=Store and reset backlight on hibernate
Before=hibernate.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/light -O
ExecStop=/usr/bin/light -I

[Install]
WantedBy=hibernate.target
