"*":
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    customFileTypes:
      "text.html.nunjucks": [
        "njk.html"
      ]
    disabledPackages: [
      "whitespace"
    ]
    telemetryConsent: "no"
    themes: [
      "nucleus-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "monospace"
    fontSize: 16
    invisibles:
      tab: " "
    showInvisibles: true
    softTabs: false
  "language-ledger":
    ledgerBinary: "true"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  welcome:
    showOnStartup: false
