[Unit]
Description=Mount share music at boot
Requires=network-online.target
After=network-online.target

[Mount]
What=//share/media/music
Where=/mnt/share/music
Options=guest,user=samba-guest,iocharset=utf8,ro
Type=cifs
TimeoutSec=30

[Install]
WantedBy=multi-user.target
