[Unit]
Description=Mount Alhena music at boot
Requires=network-online.target
After=network-online.target

[Mount]
What=//alhena/music
Where=/mnt/alhena/music
Options=guest,user=samba-guest,iocharset=utf8,ro
Type=cifs
TimeoutSec=30

[Install]
WantedBy=multi-user.target
