[Unit]
Description=Kill scdaemon service after hibernate
After=hibernate.target

[Service]
type=oneshot
ExecStart=-/usr/bin/killall -9 scdaemon

[Install]
WantedBy=hibernate.target
