[Unit]
Description=CryFS Mount

[Service]
Environment=CRYFS_FRONTEND=noninteractive
Environment=CRYFS_NO_UPDATE_CHECK=true
ExecStart=/usr/local/bin/cryfs-mount mount %h/.cryfs/%i
ExecStop=-/usr/local/bin/cryfs-mount umount %h/.cryfs/%i

[Install]
WantedBy=default.target
