[Unit]
Description=Compton compositor
PartOf=xsession.target

[Service]
ExecStart=/usr/bin/compton -CG --no-fading-openclose --backend glx --vsync
Restart=always

[Install]
WantedBy=xsession.target
