[Unit]
Description=Compton compositor
PartOf=xsession.target

[Service]
ExecStart=/usr/bin/compton
Restart=always

[Install]
WantedBy=xsession.target
